
<header class="mb-0 fixed-top">
  <nav class="navbar navbar-expand-lg navbar-light p-1">
    <div class="container" style="padding: 0 0px;">
    <a class="navbar-brand" href="/">GIFTY!</a>
    <!-- 横幅が狭い時に出るハンバーガーボタン -->
    <!--<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">-->
    <!--  <span class="navbar-toggler-icon"></span>-->
    <!--</button>-->

    <!-- メニュー項目 -->
    <span>
        <% if logged_in? %>
          <span class="nav-item logged-in"><%= link_to user_path(current_user) do %><i class="fas fa-user"></i><% end %></span>
          <span class="nav-item logged-in"><%= link_to logout_path, method: :delete do %><i class="fas fa-sign-out-alt"></i><% end %></span>
        <% else %>
          <span class="nav-item unlogged-in"><%= link_to  '新規登録', signup_path, class: 'nav-link' %></span>
          <span class="nav-item unlogged-in"><%= link_to  'ログイン', login_path, class: 'nav-link' %></span>
        <% end %>
        </span>
    </div>
  </nav>
</header>
